<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nod-o-meter</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.3/socket.io.js"></script>

</head>
<body>
    <div class="container">
        <h1>How well can you nod?</h1>
        <p class="description">Nod-o-meter is not your average nodding game. It's a high-tech nod tracking marvel designed to uncover the deepest secrets of your nods! Are you ready to nod your way to enlightenment? Let the nodding begin!</p>
        <div class="question-container">
            <p id="question">Answer the question by nodding your head..Are you ready?</p>
        </div>
        <div class="video-container">
            <img id="video-stream" src="{{ url_for('static', filename='curious_default.jpg') }}" alt="Video Stream"> 
            <!-- "{{ url_for('start')}}" -->
        </div>
        <div class="buttons">
            <button id="generate-btn">Play</button>
            <button id="submit-btn">Start</button>
            <!-- <input type="checkbox" id="log-checkbox">
            <label for="log-checkbox">Log</label> -->
        </div>
        <div class="log-container">
            <table id="log-table">
                <thead>
                    <tr>
                        <th>Question</th>
                        <th>Gesture</th>
                        <th>Timestamp</th>
                    </tr>
                </thead>
                <tbody id="log-table-body"></tbody>
            </table>
        </div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
