<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yes or No?</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Question:</h1>
        <p id="question">Answer the question by nodding your head..Are you ready?</p>
        <div class="video-container">
            <img id="video-stream" src="{{ url_for('static', filename='curious_default.jpg') }}" alt="Video Stream"> 
            <!-- "{{ url_for('start')}}" -->
        </div>
        <div class="buttons">
            <button id="generate-btn">Play</button>
            <button id="stop-btn">Pause</button>
        </div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
